Q1. List any five functions of the pandas library with execution.

In [4]:
#Answer

# The  five functions commonly used in the pandas library along with their execution :

# 1) read_csv(): This function is used to read data from a CSV file and create a DataFrame.

import pandas as pd

# Read a CSV file into a DataFrame

df = pd.read_csv('demo.csv')

In [5]:
# 2) 'head()': It is used to display the first few rows of a DataFrame.

# Display the first 5 rows of the DataFrame
df.head()

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,E84A904909dF528,Liu-Hoover,http://www.day-hartman.org/,Western Sahara,Ergonomic zero administration knowledge user,1980,Online Publishing,6852
1,2,AAC4f9aBF86EAeF,Orr-Armstrong,https://www.chapman.net/,Algeria,Ergonomic radical budgetary management,1970,Import / Export,7994
2,3,ad2eb3C8C24DB87,Gill-Lamb,http://lin.com/,Cote d'Ivoire,Programmable intermediate conglomeration,2005,Apparel / Fashion,5105
3,4,D76BB12E5eE165B,Bauer-Weiss,https://gillespie-stout.com/,United States of America,Synergistic maximized definition,2015,Dairy,9069
4,5,2F31EddF2Db9aAE,Love-Palmer,https://kramer.com/,Denmark,Optimized optimizing moderator,2010,Management Consulting,6991

In [6]:
# 3) info(): This function provides information about the DataFrame, including the data types and non-null counts of each column.

# Display information about the DataFrame

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Index                1000 non-null   int64
 1   Organization Id      1000 non-null   object
 2   Name                 1000 non-null   object
 3   Website              1000 non-null   object
 4   Country              1000 non-null   object
 5   Description          1000 non-null   object
 6   Founded              1000 non-null   int64
 7   Industry             1000 non-null   object
 8   Number of employees  1000 non-null   int64
dtypes: int64(3), object(6)
memory usage: 70.4+ KB

In [10]:
# 4) to_csv(): This function is used to write a DataFrame to a CSV file.


# Write the DataFrame to a CSV file

df.to_csv('output.csv', index=False)

In [16]:
# 5) drop(): It is used to remove columns or rows from a DataFrame.

# Drop the 'Column_to_drop' column from the DataFrame

df = df.drop("Country", axis=1)
df.head()

,Index,Organization Id,Name,Website,Description,Founded,Number of employees
0,1,E84A904909dF528,Liu-Hoover,http://www.day-hartman.org/,Ergonomic zero administration knowledge user,1980,6852
1,2,AAC4f9aBF86EAeF,Orr-Armstrong,https://www.chapman.net/,Ergonomic radical budgetary management,1970,7994
2,3,ad2eb3C8C24DB87,Gill-Lamb,http://lin.com/,Programmable intermediate conglomeration,2005,5105
3,4,D76BB12E5eE165B,Bauer-Weiss,https://gillespie-stout.com/,Synergistic maximized definition,2015,9069
4,5,2F31EddF2Db9aAE,Love-Palmer,https://kramer.com/,Optimized optimizing moderator,2010,6991

                      -------------------------------------------------------------------

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [18]:
#Answer
import pandas as pd

def reindex_with_custom_increment(df):
    # Reset the index, starting from 1 and incrementing by 2
    df.reset_index(drop=True, inplace=True)
    df.index = df.index * 2 + 1
    return df

# Example DataFrame with columns 'A', 'B', and 'C'
data = {'A': [10, 20, 30, 40],
        'B': [50, 60, 70, 80],
        'C': [90, 100, 110, 120]}
df = pd.DataFrame(data)

# Re-index the DataFrame with a new index
new_df = reindex_with_custom_increment(df)

# Print the new DataFrame
print(new_df)

    A   B    C
1  10  50   90
3  20  60  100
5  30  70  110
7  40  80  120

In this example, the reindex_with_custom_increment function takes a DataFrame df as input and resets the index starting from 1 and incrementing by 2 for each row. The reset_index() method with drop=True removes the old index, and then the index is adjusted using df.index * 2 + 1.

                      -------------------------------------------------------------------

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.


For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [22]:
#Answer
import pandas as pd

df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Calculate the sum of the first three values in the 'Values' column

def calculate_sum_of_first_three(df):
    if 'Values' in df.columns:
        first_three_sum = df['Values'].iloc[:3].sum()
        print("Sum of the first three values:", first_three_sum)
    else:
        print("Column 'Values' not found in the DataFrame.")

calculate_sum_of_first_three(df)

Sum of the first three values: 60

                      -------------------------------------------------------------------

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [23]:
#Answer

import pandas as pd

# Sample DataFrame
data = {'Text': ["This is a sample text.", "Count the words here.", "Pandas DataFrame example."]}
df = pd.DataFrame(data)

# Function to count words in a given text
def count_words(text):
    # Split the text by spaces and count the number of resulting words
    words = text.split()
    return len(words)

# Create a new column 'Word_Count' using the count_words function
df['Word_Count'] = df['Text'].apply(lambda x: count_words(x))

# Print the DataFrame with the 'Word_Count' column
print(df)

                        Text  Word_Count
0     This is a sample text.           5
1      Count the words here.           4
2  Pandas DataFrame example.           3

                      -------------------------------------------------------------------

Q5. How are DataFrame.size() and DataFrame.shape() different?

#Answer


DataFrame.size and DataFrame.shape are both attributes of a Pandas DataFrame, but they serve different purposes and provide different information:

1) DataFrame.size:

* DataFrame.size returns the total number of elements in the DataFrame.
* It is calculated as the product of the number of rows and the number of columns.
* It represents the total number of cells (data points) in the DataFrame.

Example:_____

In [4]:

import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)
size = df.size # This will be 6 (3 rows x 2 columns)
print(size)

6

2) DataFrame.shape:

* DataFrame.shape is a tuple that returns the dimensions of the DataFrame, specifically the number of rows and columns.
* It provides information about the structure of the DataFrame, not the total number of elements.
* The shape attribute is often used to determine the dimensions of the DataFrame.

*Example:___

In [5]:

import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)
shape = df.shape  # This will be (3, 2) indicating 3 rows and 2 columns
print( shape)

(3, 2)

In summary, DataFrame.size gives you the total number of elements (data points) in the DataFrame, while DataFrame.shape provides information about the number of rows and columns, helping you understand the structure of the DataFrame. The two attributes serve different purposes and should be used accordingly based on the information you need.

                       -------------------------------------------------------------------

Q6. Which function of pandas do we use to read an excel file?

In [9]:
#Answer

import pandas as pd
# Read an Excel file into a DataFrame
df = pd.read_excel('Employeepayroll.xlsx')

# Display the first few rows of the DataFrame
df.head()

,Employee Payroll,Unnamed: 1,Mr.Sluiter,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,NaN,NaN,NaN,Hours Worked,NaN,NaN,NaN,NaN,Over Time Hours,NaN,...,NaN,NaN,NaN,Total pay,NaN,NaN,NaN,NaN,NaN,Jan Pay
1,Last Name,First Name,Hourly Wage,2022-01-01 00:00:00,2022-01-08 00:00:00,2022-01-15 00:00:00,2022-01-22 00:00:00,2022-01-29 00:00:00,2022-01-01 00:00:00,2022-01-08 00:00:00,...,2022-01-15 00:00:00,2022-01-22 00:00:00,2022-01-29 00:00:00,2022-01-01 00:00:00,2022-01-08 00:00:00,2022-01-15 00:00:00,2022-01-22 00:00:00,2022-01-29 00:00:00,NaN,NaN
2,Kern,Jon',15.9,41,42,39,30,46,1,2,...,0,0,47.7,659.85,683.7,620.1,477,779.1,NaN,3219.75
3,Howard,Glenda,10,42,41,40,38,44,2,1,...,0,0,20,430,415,400,380,460,NaN,2085
4,o Donald,Ron,22.1,49,40,33,20,18,9,0,...,0,0,0,1182.35,884,729.3,442,397.8,NaN,3635.45

                        -------------------------------------------------------------------

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.


The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [10]:
#Answer

import pandas as pd

# Sample DataFrame with 'Email' column

data = {'Email': ['john.doe@example.com', 'sabreennaz@example.com', 'manya@example.com']}
df = pd.DataFrame(data)

# Function to extract the username from an email address

def extract_username(email):
    # Split the email address at the '@' symbol and return the first part
    username = email.split('@')[0]
    return username

# Create a new 'Username' column using the extract_username function
df['Username'] = df['Email'].apply(extract_username)

# Print the DataFrame with the 'Username' column
print(df)

                    Email    Username
0    john.doe@example.com    john.doe
1  sabreennaz@example.com  sabreennaz
2       manya@example.com       manya

                        -------------------------------------------------------------------

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.


For example, if df contains the following values:


A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C


1 8 2 7
4 9 1 2

The function should return a new DataFrame that contains only the selected rows.

In [11]:
#Answer

import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A']>5) & (df['B']<10)]
    return selected_rows

#Example usage:
data = {'A':[3,8,6,2,9],
        'B':[5,2,9,3,1],
        'C':[1,7,4,5,2]
                  }

df = pd.DataFrame(data)


selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

                        -------------------------------------------------------------------

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [22]:
#Answer
import pandas as pd

def calculate_statistics(df, column_name):
    # Extract the specified column from the DataFrame
    column = df[column_name]
    
    # Calculate the mean, median, and standard deviation
    mean_value = column.mean()
    median_value = column.median()
    std_deviation = column.std()
    
    return mean_value, median_value, std_deviation

# Example usage:
data = {'Values': [5, 8, 9, 5, 8, 3, 6, 4]}
df = pd.DataFrame(data)

mean, median, std = calculate_statistics(df, 'Values')

print(f"Mean: {mean}")
print(f"Median: {median}")
print(f"Standard Deviation: {std}")

Mean: 6.0
Median: 5.5
Standard Deviation: 2.138089935299395

                        -------------------------------------------------------------------

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [23]:
#Answer

import pandas as pd

def calculate_moving_average(df, window_size=7):
    # Sort the DataFrame by the 'Date' column
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.sort_values(by='Date')
    
    # Calculate the moving average with a window of size 'window_size'
    df['MovingAverage'] = df['Sales'].rolling(window=window_size, min_periods=1).mean()
    
    return df

# Example usage:
data = {'Date': ['2023-10-01', '2023-10-02', '2023-10-03', '2023-10-04', '2023-10-05', '2023-10-06', '2023-10-07'],
        'Sales': [10, 15, 20, 25, 30, 35, 40]}

df = pd.DataFrame(data)

# Calculate the moving average
df = calculate_moving_average(df)

print(df)

        Date  Sales  MovingAverage
0 2023-10-01     10           10.0
1 2023-10-02     15           12.5
2 2023-10-03     20           15.0
3 2023-10-04     25           17.5
4 2023-10-05     30           20.0
5 2023-10-06     35           22.5
6 2023-10-07     40           25.0

                        -------------------------------------------------------------------

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:
    
Date

 0      2023-01-01
 1      2023-01-02
 2      2023-01-03
 3      2023-01-04
 4      2023-01-05

Your function should create the following DataFrame:
    
    
       Date             Weekday

0    2023-01-01         Sunday
1    2023-01-02         Monday
2    2023-01-03         Tuesday
3    2023-01-04         Wednesday
4    2023-01-05         Thursday

The function should return the modified DataFrame.

In [24]:
#Answer

import pandas as pd

def add_weekday_column(df, date_column_name='Date', new_column_name='Weekday'):
    # Ensure the 'Date' column is in datetime format
    df[date_column_name] = pd.to_datetime(df[date_column_name])
    
    # Create the 'Weekday' column with weekday names
    df[new_column_name] = df[date_column_name].dt.strftime('%A')
    
    return df

# Example usage:
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)

# Add the 'Weekday' column
df = add_weekday_column(df)

print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

                        -------------------------------------------------------------------

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [25]:
#Answer

import pandas as pd

def select_rows_between_dates(df, start_date, end_date, date_column_name='Date'):
    # Ensure the date column is in datetime format
    df[date_column_name] = pd.to_datetime(df[date_column_name])
    
    # Create a boolean mask for the date range
    mask = (df[date_column_name] >= start_date) & (df[date_column_name] <= end_date)
    
    # Use the mask to select the rows within the date range
    selected_rows = df[mask]
    
    return selected_rows

# Example usage:
data = {'Date': ['2023-01-01', '2023-01-15', '2023-02-05', '2023-01-20', '2023-03-10']}
df = pd.DataFrame(data)

start_date = '2023-01-01'
end_date = '2023-01-31'

# Select rows between '2023-01-01' and '2023-01-31'
selected_df = select_rows_between_dates(df, start_date, end_date)

print(selected_df)

        Date
0 2023-01-01
1 2023-01-15
3 2023-01-20

                        -------------------------------------------------------------------

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

#Answer

To use the basic functions of Pandas, the first and foremost library that we need to import is, of course, the Pandas library itself. we can import Pandas with the following line of code:

"import pandas as pd"

This line imports the Pandas library and assigns it the alias 'pd,' which is a common convention used by the Pandas community. This alias allows us to refer to Pandas functions and objects more conveniently, such as using pd.DataFrame to create a DataFrame or pd.Series to create a Series.

                        -------------------------------------------------------------------